.content-header {
    height: var(--header-height);
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--content-bg);
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 10;
}

#page-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    position: absolute;
    top: 5px;
    left: 15px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left h2 {
    font-size: 0.8rem;
    font-weight: 600;
    margin-right: 25px;
}

.user-stats {
    display: flex;
    gap: 20px;
}

.stat-item {
    display: flex;
    flex-direction: column;
}

.stat-value {
    font-size: 1rem;
    font-weight: 600;
}

.stat-label {
    font-size: 0.8rem;
    color: var(--text-muted);
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    height: 100%;
    margin-left: auto;
}

.search-bar {
    position: relative;
    width: 300px;
}

.search-bar input {
    width: 100%;
    padding: 8px 15px 8px 40px;
    border-radius: 6px;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--text-light);
    font-size: 0.85rem;
}

.search-bar i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-muted);
}