/* Font declarations */
@font-face {
    font-family: 'Researcher';
    src: url('/fonts/researcher-researcher-bold-700.ttf') format('truetype'),
         url('/fonts/researcher-researcher-thin-200.ttf') format('truetype'),
         url('/fonts/researcher-researcher-regular-400.ttf') format('truetype'),
         url('/fonts/researcher-researcher-squid-700.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent any scrolling on the main body */
    font-family: 'Inter', Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--content-bg); /* Use dashboard variables defined below */
    width: 100%;
}